
 // body {
 //     overflow: hidden;
 //     background-color: #000000;
 // }

.container-nb {
  position: relative;
  border-left: 2px solid black;
}

.nav {
  li {
    color:darkcyan !important;
  }
}

  .panel-footer{

p {float:right;}
   a {text-decoration: none;
   color: green;
    &:visited {color: green;};
    &:hover{font-weight: bold;}};
      abbr {cursor: pointer !important;
  }
}
.affix {
     top: 0;
     width: 100%;
 }

 .affix.container-fluid {
     padding-top: 70px;

 }

  .slider {
     width: 100%;
     height: 500px;
     overflow: hidden;
     position: relative;
     padding: 0em;
 }

 //new design
 .container-fluid {
   margin-top: -20px;
     background-color: #fff;
     }

  .nav{ background-color: #fff;}

  .panel-footer{ background-color: #fff;
  margin: -10px;
  height: 4rem;}

.aboutus {
 z-index:-10;
 position: fixed;
 top:-150px;
  img {
    width: 100%;
    height: auto;
bottom: 10px}
}
.clearfix {
  overflow: auto;
  zoom: 1;
}

.afterabout {
  margin-top: 200px;
  background-color: white;
}

//newdesignend
 .slide {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
 }
 .logo  {
     position: absolute;
     z-index: 1003;
     display: block;
     top: 0%;
     left:0%;
     margin-top: -60px;
     outline: none;
     width: 100px;
     length: auto;
 }
 .hideLogo {display: none;}
 .arrow {
    position: absolute;
     z-index: 1002;
     display: block;
     top: 50%;
     margin-top: -35px;
     outline: none;
     cursor: pointer;

 }
 .arrow.prev {
     opacity: 0.7;
     left: 2rem;
     transition: 0.2s linear all;
     text-decoration: none;
     font-size: 3em;
     &:hover {
       opacity: 1 !important;
       font-weight: bold;
       font-color: darkcyan !important;
     }
 }

 .arrow.next {
     opacity: 0.7;
     right: 2rem;
     transition: 0.2s linear all;
     text-decoration: none;
     font-size: 3em;
     &:hover {
       opacity: 1 !important;
       font-weight: bold;
       font-color: darkcyan !important;
     }
 }

  // /*---------------------------------------------------------
 // NAV
 // ---------------------------------------------------------*/

 .navs {
     text-align: center;
     display: block;
     position: absolute;
     z-index: 1002;
     left: 0;
     bottom: -4px;
     right: 0;
     height: 48px;
 }

 .nonDraggableImage{
     -webkit-user-drag: none;
 }

 .navs .wrapper {
     margin: 0 auto;
     width: 100%;
     padding: 1em 0 .8em;
 }

 .navs ul {
     margin: 0;
     width: 100%;
 }

 .navs .dot, .navs .dot a {
     display: inline-block;
     zoom: 1;
 }

 .dots .dot {
     position: relative;
     margin: 0 8px;
     width: 12px;
     height: 12px;
 }
 //
 .dots .dot a {
     position: absolute;
     top: 2px;
     left: 2px;
     width: 6px;
     height: 6px;
     text-indent: 100%;
     white-space: nowrap;
     overflow: hidden;
     background: #FFF;
     border: 1px solid transparent;
     outline: none;
     -webkit-box-shadow: none;
     -moz-box-shadow: none;
     box-shadow: none;
     -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
     border-radius: 50%;
     -webkit-transition: background-color 0.25s, border-color 0.25s;
     -moz-transition: background-color 0.25s, border-color 0.25s;
     transition: background-color 0.25s, border-color 0.25s;
 }

 .dots .dot a.active {
     border-color: #FFF;
     background-color: transparent;
 }

//navbar
.navbar {
  background-color: #fff;
    ul {
      width:100%;
      text-align: center;
    }
    li{
  text-align: center;
  display: inline;
  height: 5rem;
      &:hover {
      border-bottom: 3px solid black;
      margin-bottom: 0rem;
      height: 5.4rem;
    }
  }
}
  .min{
    color:darkcyan;
    animation-name: scrll;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    -webkit-animation-name: scrll;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-fill-mode: forwards;
  }
@keyframes scrll {
    from {font-size: 10px;}
    to {font-size:100px;}
}

@media only screen
and (max-width: 768px) {

.slider { height: 15em !important ;
          width:100% !important;}
.container-nb { height:  15em !important;}
.mobile-hide { display: none}
.navbar {
  width:100% !important;
  background-color: #fff;
  li:nth-child(2) {
      margin-top: 1em;
  }
}
.navElement {
              height:  2em !important ;
              padding: 1em !important;
              display: block !important;
              float:none !important;
              a {
                border: 1px solid #002525;
                background-color: #fff;
              }
            }
}

//desktop
@media only screen
and (min-width: 768px){
  .desktop-hide {display: none;}
}
