.upPart {
  width: auto;
  height: 30rem;
}

.middlePart {
  width: auto;
  height: 20rem;
  background-color: red;
}

// .downPart {
//   width: auto;
//   height: 35rem;
//   background-color: hsl(180, 50%, 30%);
// }

.col.left{
  margin-left: 0px;
}

.col.right{
  margin-right: 0px;
  opacity: 0.9;
  width: 50%;
  overflow: auto;
}

.circledImg{
  border-radius: 200px;
  border: 2px solid #00695c;
  width:  35%;
  margin-top: 4rem;
  margin-left: 32%;
  cursor: pointer;
  &:hover{
    position: relative;
    top:.2rem;
  }
}

.name {
  background-color: #00695c;
  width:40%;
  margin-top: 1rem;
  margin-left: 30%;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 3px;
  &:hover{
    position: relative;
    top:.2rem;
  }
}

//display
@media only screen
and (max-width: 768px) {
    .mobile-hide {display: none;}
    .circledImg{
      margin-top: 4rem;
      width: 50%;
      margin-right: 25%;
      overflow: hidden;
      &:hover{
        margin-top: 4rem;
        width: 50%;
        margin-right: 25%;
        overflow: hidden;
      }

    }
    .row.upPart  {
      overflow: hidden;
    }
    .col.right{
      width: 100%;
      overflow: auto;
    }
    .col.left{
      display: none;;
    }

}

@media only screen
and (min-width: 768px){
  .desktop-hide {display: none;}

}
