<!DOCTYPE html>
<html ng-app="ski">
<head>
  <meta  charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ASMA</title>
  <link rel="icon" href="images/ASMAicon.png" type="image/x-icon" />
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <script type="text/javascript" src="js/angular.min.js"></script>
  <script type="text/javascript" src="js/bower_components/angular/angular.js"></script>
  <script type="text/javascript" src="js/bower_components/angular-animate/angular-animate.js"></script>
  <script type="text/javascript" src="js/bower_components/angular-resource/angular-resource.js"></script>
  <script type="text/javascript" src="js/bower_components/angular-route/angular-route.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body ng-controller="skiController">


    <div class="container-nb slider" style="background-color:#fff;height:55rem;">

      <img class="banner slide" ng-hide="!isCurrentSlideIndex($index)" ng-repeat="slide in slides" ng-src="{{slide.imageUrl}}">

          <a class="arrow prev" href="#" ng-click="nextSlide()"><</a>
          <a class="arrow next" href="#" ng-click="prevSlide()">></a>

          <div class="navs">
            <div class="wrapper">
                <ul class="dots">
                <li class="dot" ng-repeat="slide in slides">
                    <a href="#" ng-class="{'active':isCurrentSlideIndex($index)}"
                       ng-click="setCurrentSlideIndex($index);">{{slide.description}}</a></li>
                </ul></div>
            </div>
      </div>



  <nav class="navbar mobile-hide" data-spy="affix" data-offset-top="500">
    <ul class="nav nav-tabs" role="tablist">
      <li ng-click="activeMenu='main'" ng-class="{active:activeMenu==='main'}"><a href="#"> <img class="logo" ng-class="{hideLogo:ChangeClass}" src="images/logo.jpg"> Գլխավոր</a></li>
      <li ng-click="activeMenu='uxi'" ng-class="{active:activeMenu==='uxi'}"><a href="#">Ուղիներ</a></li>
      <li ng-click="activeMenu='about'" ng-class="{active:activeMenu==='about'}"><a href="#">Մեր Մասին</a></li>
      <li ng-click="activeMenu='pics'" ng-class="{active:activeMenu==='pics'}"><a href="#">Լուսանկարներ</a></li>
      <li ng-click="activeMenu='facts'" ng-class="{active:activeMenu==='facts'}"><a href="#">Հետաքրքիր փաստեր</a></li>
      <li ng-click="activeMenu='blog'" ng-class="{active:activeMenu==='blog'}"><a href="#">Ճանապարհորդի Բլոգը</a></li>
      <li ng-click="activeMenu='contactus'" ng-class="{active:activeMenu==='contactus'}"><a href="#">Հետադարձ Կապ</a></li>
    </ul>
  </nav>

    <!-- mobile // data-spy="affix" data-offset-top="150" -->
  <nav class="navbar desktop-hide" >
    <ul class="nav nav-pills" role="tablist">
      <li class="navElement" ng-class="{active:activeMenu==='main'}"><a ng-click="activeMenu='main'" href="#">Գլխավոր</a></li>
      <li class="navElement" ng-class="{active:activeMenu==='uxi'}"><a ng-click="activeMenu='uxi'" href="#">Ուղիներ</a></li>
      <li class="navElement" ng-class="{active:activeMenu==='about'}"><a  ng-click="activeMenu='about'"href="#">Մեր Մասին</a></li>
      <li class="navElement" ng-class="{active:activeMenu==='pics'}"><a ng-click="activeMenu='pics'"  href="#">Լուսանկարներ</a></li>
      <li class="navElement" ng-class="{active:activeMenu==='facts'}"><a ng-click="activeMenu='facts'" href="#">Հետաքրքիր փաստեր</a></li>
      <li class="navElement" ng-class="{active:activeMenu==='blog'}"><a ng-click="activeMenu='blog'"   href="#">Ճանապարհորդի Բլոգը</a></li>
      <li class="navElement" ng-class="{active:activeMenu==='contactus'}"><a ng-click="activeMenu='contactus'" href="#">Հետադարձ Կապ</a></li>
    </ul>

  </nav>

  <div class="container-fluid homeContainer" scroll style="height:100%;">

    <p class="mobile-hide" ng-class="{min:ChangeClass}">Some text to enable scrolling</p>
    <h1>Some text to enable scrolling</h1>
    <h1>Some text to enable scrolling</h1>
    <h1>Some text to enable scrolling</h1>
    <h1>Some text to enable scrolling</h1>
    <h1>Some text to enable scrolling</h1>
    <h1>Some text to enable scrolling</h1>
    <h1>Some text to enable scrolling</h1>
    <h1>Some text to enable scrolling</h1>
    <h1>Some text to enable scrolling</h1>
    <h1>Some text to enable scrolling</h1>
  </div>
          <div class="panel-footer"> <p> created by: <a href="http://www.upwork.com/o/profiles/users/_~0107535dedc77ed577/" target="_blank"><abbr title="ram6ler's upwork">ram6ler</abbr></a> </p></div>
  <script type="text/javascript" src="js/app.js"></script>
</body>
</html>
